<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Página de Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido al Registro</ion-card-title>
        <ion-card-subtitle id="subsubtitulo">TellevoApp no compartirá tu informacion</ion-card-subtitle>
        <ion-card-subtitle>Por favor, ingresa tus datos para crear una cuenta</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input
              [(ngModel)]="user.username"
              label="Usuario"
              labelPlacement="floating"
              placeholder="Ingrese su usuario"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-input
              [(ngModel)]="user.email"
              label="Correo"
              labelPlacement="floating"
              placeholder="Ingrese su correo"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input
              [(ngModel)]="user.password"
              label="Contraseña"
              labelPlacement="floating"
              type="password"
              placeholder="Ingrese su contraseña"
            ></ion-input>
          </ion-item>
          <ion-item class="terminos-item" lines="none">
            <ion-checkbox [(ngModel)]="aceptaTerminos" slot="start"></ion-checkbox>
            <ion-label>
              Acepto los 
              <a [routerLink]="['/terminos']">términos y condiciones</a>
            </ion-label>
          </ion-item>
          <ion-button expand="block" (click)="registrar()" color="primary" class="button-registrar" [disabled]="!aceptaTerminos">
            Registrar
          </ion-button>
          <ion-button expand="block" [routerLink]="['/home']" color="secondary" class="button-volver">
            Volver
          </ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
