// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #0b3d91; /* Azul oscuro */
    --ion-color-secondary: #ffcc00; /* Amarillo */
    --ion-background-color: #ffffff; /* Blanco */
  
    --ion-color-primary-contrast: #ffffff; /* Contraste para azul oscuro */
    --ion-color-secondary-contrast: #000000; /* Contraste para amarillo */
  }
  
